 /* Navbar */

 .navbar{
    position: sticky;
    top: 0;
    z-index: 999;
    height: 80px;
    
    
 }

 .navbar-container{
    height: 100%;
 }

 .link-menu{
    line-height: 30px;
    font-size:14px;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
    position: relative;
    text-transform: uppercase;
    color:white;
    
 }

 .navbar-light .navbar-nav .nav-link {
    color:white;
 }



 .navbar-light .navbar-nav .nav-link.active{
     text-decoration: underline;
    
 }

 .navbar-light .navbar-nav .nav-link:hover{
    /* text-decoration: underline; */
    text-decoration-line:underline;
    text-decoration-thickness: 2px;
 }